@model Models.CustomerInfo

@*@{
        Layout = "~/Views/Shared?_Layout.cshtml";
    }*@

<h2>Serializer</h2>

@using (Html.BeginForm())

{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.StreetAddress, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.StreetAddress, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.City, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.State, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ZipCode, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.SerializeDirection, new { @class = "control-label" })
                @Html.EnumDropDownListFor(m => m.SerializeDirection, new { @class = "form-control", @style = "width:25%" })
            </div>
            <div class="btn-toolbar">
                <input type="submit" name="serialize" formaction=@Url.Action("Submit") formmethod="post"
                       value="Serialize" id="btnSubmit" class="btn btn-primary col-lg-2" />
                
                    <input type="submit" name="clear" formaction=@Url.Action("Clear") formmethod="post"
                           value="Clear" id="btnClear" class="btn btn-light col-lg-2" />
             
            </div>
            </div>
            <div class="col-md-6">       

            <div class="form-group">
                @Html.LabelFor(m => m.Serialized, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.Serialized, new { @class = "form-control", @rows = "12", @width = "100%" })

            </div>
                <div class="form-group">
                    <input type="submit" name="revert" formaction=@Url.Action("Revert") formmethod="post"
                           value="Revert to text" id="btnRevert" class="btn btn-success col-lg-3" />
                </div>
                
        </div>
    </div>

}
